html, body {
    margin: 0;
    padding: 0;
    width: 100%;
}

select, iframe, textarea, button {
    width: 100%;
    box-sizing: border-box; /* This ensures padding and borders are included in the element's total width */
}

.full-width-iframe {
    height: 400px; /* You can adjust the height as needed */
    border: none;
}

hr {
    border: 0;
    height: 1px;
    background-color: #ccc;
    margin: 10px 0;
}
