name: 1. Process New PDF

on:
  push:
    branches:
      - main
    paths:
      - 'guidance/*.pdf'

jobs:
  create_condensed_text:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
      with:
        token: ${{ secrets.WORKFLOW_PAT }}
        fetch-depth: 0
    
    - uses: actions/setup-python@v2
      with:
        python-version: '3.8'
    
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install pypdf2 tiktoken openai pdfminer.six pdf2image pytesseract requests
        sudo apt-get update && sudo apt-get install -y tesseract-ocr poppler-utils

    - name: Reset local changes
      run: |
        git fetch origin
        git reset --hard origin/main
        
    - name: Process PDF to Condensed Text
      env:
        OPENAI_API_KEY: ${{ secrets.OPENAI_KEY }}
        WORKFLOW_TOKEN: ${{ secrets.WORKFLOW_TOKEN }}
        SERVER_URL: 'https://clerky-uzni.onrender.com'
      run: python scripts/1_process_pdf.py

    - name: Commit changes
      run: |
        git config --global user.email "Clerky2024@gmail.com"
        git config --global user.name "Ian Nouvel"
        git add guidance/condensed/ guidance/list_of_guidelines.txt
        git status
        if git diff --staged --quiet; then
          echo "No changes to commit"
        else
          git commit -m "Added condensed text and updated guidelines list"
          git pull --rebase origin main
          git push
        fi
      env:
        GITHUB_TOKEN: ${{ secrets.WORKFLOW_PAT }}